PA_UHF/Debug/PA_UHF.elf
PA_UHF/Debug/PA_UHF.list
PA_UHF/Debug/PA_UHF.map
PA_UHF/Debug/sources.mk
PA_UHF/Debug/Core/Src/ad8363.d
PA_UHF/Debug/Core/Src/ad8363.o
PA_UHF/Debug/Core/Src/ad8363.su
PA_UHF/Debug/Core/Src/adc.d
PA_UHF/Debug/Core/Src/adc.o
PA_UHF/Debug/Core/Src/adc.su
PA_UHF/Debug/Core/Src/bda4601.d
PA_UHF/Debug/Core/Src/bda4601.o
PA_UHF/Debug/Core/Src/bda4601.su
PA_UHF/Debug/Core/Src/i2c1.d
PA_UHF/Debug/Core/Src/i2c1.o
PA_UHF/Debug/Core/Src/i2c1.su
PA_UHF/Debug/Core/Src/led.d
PA_UHF/Debug/Core/Src/main.d
PA_UHF/Debug/Core/Src/main.o
PA_UHF/Debug/Core/Src/main.su
PA_UHF/Debug/Core/Src/max4003.d
PA_UHF/Debug/Core/Src/max4003.o
PA_UHF/Debug/Core/Src/max4003.su
PA_UHF/Debug/Core/Src/module.d
PA_UHF/Debug/Core/Src/module.o
PA_UHF/Debug/Core/Src/module.su
PA_UHF/Debug/Core/Src/rs485.d
PA_UHF/Debug/Core/Src/rs485.o
PA_UHF/Debug/Core/Src/rs485.su
PA_UHF/Debug/Core/Src/stm32g0xx_hal_msp.d
PA_UHF/Debug/Core/Src/stm32g0xx_hal_msp.o
PA_UHF/Debug/Core/Src/stm32g0xx_hal_msp.su
PA_UHF/Debug/Core/Src/stm32g0xx_it.d
PA_UHF/Debug/Core/Src/stm32g0xx_it.o
PA_UHF/Debug/Core/Src/stm32g0xx_it.su
PA_UHF/Debug/Core/Src/subdir.mk
PA_UHF/Debug/Core/Src/syscalls.o
PA_UHF/Debug/Core/Src/sysmem.o
PA_UHF/Debug/Core/Src/system_stm32g0xx.d
PA_UHF/Debug/Core/Src/system_stm32g0xx.o
PA_UHF/Debug/Core/Src/uart1.d
PA_UHF/Debug/Core/Src/uart1.o
PA_UHF/Debug/Core/Src/uart1.su
PA_UHF/Debug/Core/Src/utils.d
PA_UHF/Debug/Core/Src/utils.o
PA_UHF/Debug/Core/Startup/startup_stm32g030k6tx.o
PA_UHF/Debug/Core/Startup/subdir.mk
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_adc_ex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_adc_ex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_adc.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_adc.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_cortex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_cortex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma_ex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma_ex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_dma.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_exti.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_exti.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash_ex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash_ex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_flash.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_gpio.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_gpio.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_iwdg.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_iwdg.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr_ex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr_ex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_pwr.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc_ex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc_ex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_rcc.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim_ex.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim_ex.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal_tim.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal.d
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_hal.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_adc.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_dma.o
PA_UHF/Debug/Drivers/STM32G0xx_HAL_Driver/Src/stm32g0xx_ll_rcc.o
